@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

/*     HEADER    */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(64, 63, 63);
}

.headerLogo {
  height: 5rem;
}
